<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false" [clrModalStaticBackdrop]="false" [clrModalSize]="'xl'">

  <h3 class="modal-title">
    <button aria-label="Close" class="close" type="button" (click)="model$.next(null)">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
    {{ title }}</h3>
  <div class="modal-body">
    <form [formGroup]="form" clrForm  style="display: flex;">
     <div style="flex: 1;">
          <clr-input-container>
          <label>Title</label>
          <input clrInput placeholder="activity title" formControlName="title" />
        </clr-input-container>
        <clr-date-container>
          <label>Date start</label>
          <input clrDate placeholder="activity start date" type="date" name="start" formControlName="start" />
        </clr-date-container>
        <clr-date-container>
          <label>Date End</label>
          <input clrDate placeholder="activity end date" type="date" name="end"  formControlName="end" />
        </clr-date-container>

        <clr-select-container>
          <label>Place</label>
          <select clrSelect  formControlName="placeId">
            <option *ngFor="let item of places"   [value]="item.placeId" >{{item.name}}</option>
          </select>
        </clr-select-container>

      <clr-textarea-container>
        <label>Description</label>
        <textarea clrTextarea  formControlName="description" ></textarea>
      </clr-textarea-container>


    </div>
    <div  style="flex: 1;">


    <ngui-map zoom="13"  class="map-container" (mapReady$)="onMapReady($event)">
      <marker *ngIf="selectedPlace$ | async"
      [title]="(selectedPlace$ | async).name"
      [position]="{lat:(selectedPlace$ | async).lat, lng: (selectedPlace$ | async).lng}"></marker>
    </ngui-map>
    </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="send()">Send</button>
  </div>
</clr-modal>
