<div class="main-container">
  <div class="alert alert-app-level">

  </div>
  <header class="header header-6">
    <h2>Activities</h2>
     <div class="user-block" >
       <div *ngIf="isLoggedIn$ | async" >
       {{(user$|async)?.firstName}}
       <img [src]="((user$|async)?.photoUrl)"/>
       <button (click)="signOut()">
         <clr-icon shape="logout" ></clr-icon>
        </button>
      </div>
        <app-login *ngIf="!(isLoggedIn$ | async)"></app-login>
      </div>

  </header>
  <nav class="subnav">
    <button class="btn btn-link" (click)="addActivity($event)">
      <clr-icon shape="plus-circle" class="is-solid"></clr-icon>
      Add Activity
    </button>
  </nav>
  <div class="content-container">
      <div class="content-area">
        <clr-tabs>
          <clr-tab>
              <button clrTabLink>Calendar</button>
              <clr-tab-content *clrIfActive>
                <p-fullCalendar #fc     [events]="events" [options]="options"></p-fullCalendar>
              </clr-tab-content>
          </clr-tab>
          <clr-tab>
            <button clrTabLink>Map</button>
            <clr-tab-content *clrIfActive>
              <ngui-map zoom="13"  class="map-container"  (mapReady$)="onMapReady($event)">
                <marker *ngFor="let event of (places$|async)"
                      [title]="event.title"
                      [position]="{lat: event.lat, lng: event.lng}">

                </marker>
              </ngui-map>
            </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Places</button>
          <clr-tab-content *clrIfActive>
            <app-places-forms></app-places-forms>
          </clr-tab-content>
        </clr-tab>
        </clr-tabs>
      </div>
      <nav    class="sidenav">
        <h3 >Date: {{selectedDate$ | async}}</h3>
        <app-activity-item *ngFor="let event of filteredEvents" [editableModel$]="editableModel$" [event]="event"></app-activity-item>
      </nav>
  </div>
</div>
<app-activity-form *ngIf="(editableModel$|async) !== null" [model$]="editableModel$"   ></app-activity-form>
